body{
    background-image: none;
    animation-name: backgroundstuff;
    animation-duration: 6s;
}

.background{
    z-index: -1;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(U4.png);
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-play-state: running;
}

@keyframes fadein{
    0% {background-color: rgba(0, 0, 0, 100%);}
    100% {background-color: rgba(0, 0, 0, 0);}
}

@keyframes backgroundstuff{
    0%  {overflow: hidden; background-image: url(U3.png);}
    100% {overflow: visible; background-image: none;}
}