.background{
    background-image: url(U41.png);
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-play-state: running;
}

@keyframes fadein{
    0% {opacity: 0; background-color: black;}
    100% {opacity: 100%; margin: auto;}
}