.workspace{
    background-image: url(U7.png);
}

.background{
    background-image: url(U8.png);
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-play-state: running;
}

@keyframes fadein{
    0% {opacity: 0;}
    100% {opacity: 100%;}
}