body{
    animation-name: stick;
    animation-duration: 2s;
}

.workspace{
    background-image: url(U8.png);
}

.background{
    background-image: url(U9.png);
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-play-state: running;
}

@keyframes fadein{
    0% {opacity: 0; width: 200%; height: 200%;}
    100% {opacity: 100%; width: 100%; height: 100%;}
}

@keyframes stick{
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}

@media screen and (max-width: 1000px){
    body{
        animation: none;
    }
}

