.workspace{
    background-image: url(U2.png);
}

.background{
    background-image: url(U3.png);
    animation-name: fadein;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-play-state: running;
}

@keyframes fadein{
    0% {opacity: 0; margin: auto;}
    100% {opacity: 100%;; margin: auto;}
}
