body{
    background-image: url(U1.png);
    background-size: cover;
    background-repeat: repeat-y;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "timeline timeline"
        "menu2 workplace";
    width: 100%;
    margin: auto;
    row-gap: 10px;
    column-gap: 10px;
}

.timeline{
    background-color: rgba(200, 200, 200, 30%);
    border-radius: 5px;
    border: 5px rgba(255, 255, 255, 30%) solid;
    grid-area: timeline;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.menu{
    background-color: rgba(200, 200, 200, 30%);
    border-radius: 5px;
    border: 5px rgba(255, 255, 255, 30%) solid;
    grid-area: menu2;
    height: min-content;
    line-height: 150%;
    padding: 5px;
    color: white;
}

.workspace{
    grid-area: workplace;
    height: 550px;
    border-radius: 5px;
    border: 5px rgb(200, 200, 200) solid;
    background-size: cover;
    background-repeat: no-repeat;
}

.ages{
    width: 12.5%;
    font-size: 100%;
    text-align: center;
}

.ages div:first-child{
    height: 45%;
    margin-top: 10px;
}

.square{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    rotate: 45deg;
    background-color: white;
}

.active-square{
    margin-top: 5px;
    width: 15px;
    height: 15px;
    background-color: green;
    border: 5px white solid;
}

.lineseg{
    height: 5px;
    width: 100%;
    float: initial;
    margin-top: -15px;
    background-color: white;
}

.first-lineseg{
    height: 5px;
    width: 50%;
    float: right;
    margin-top: -15px;
    background-color: white;
}

a{
    color: white;
    text-decoration: none;
}

.background{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 1000px) {
    .timeline{
        flex-direction: column;
        height: 800px;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        align-items: center;
        width: 100%;
    }
    .lineseg, .first-lineseg{
        visibility: hidden;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "timeline"
            "menu2"
            "workplace";
        width: 100%;
        margin: auto;
        row-gap: 5px;
    }
    .ages{
        text-align: center;
        margin-top: 20px;
        width: 50%;
    }
    .square{
        margin-top: 10px;
    }
    .workspace{
        border: none;
        background-size: 0%;
        height: 200px
    }
    .background{
        background-size: contain;
        background-repeat: no-repeat;
    }

}
